.force1{
    justify-content: flex-start !important;
}
.btncolor{
    color: #9B9B9C !important;
    padding: 4px 20px !important;
}
.textdiv {
    padding: 12px 0px;
    font-family: Hkgrotesk, Arial, sans-serif;
}
.textdiv p{
    color: #515051;
  line-height: 20px;
    font-family: Hkgrotesk, Arial, sans-serif;
}
.table_top{
    .btn-link{
        border: none;
        outline: none;
        background: none;
        font-family: Hkgrotesk, Arial, sans-serif;
        color: #9B9B9C;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
    .active{
        color: black;
    }
}
.summary{
    font-family: Hkgrotesk, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.mt{
    margin-top: 0.5rem;
}

.full{
    width: "100%" !important;
}
.bor{
    border: 1px solid #f5f5fa;
    height: 420px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.9em;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
