.force1{
    justify-content: flex-start !important;
}
.btncolor{
    color: #9B9B9C !important;
}
.textdiv {
    padding: 12px 0px;
    font-family: Hkgrotesk, Arial, sans-serif;
}
.textdiv p{
  
    font-family: Hkgrotesk, Arial, sans-serif;
}
