.cardcontainer {
  display: -ms-grid;
  display: grid;
  width: 420px !important;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 15px;
}
.watchtext{
  font-family: Hkgrotesk, Arial, sans-serif;
}

.leftcardtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: space-between;
}

.listingheader-wrapper {
  display: inline-block;
}

.listingheadergrid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: -webkit-min-content 1fr;
  -ms-grid-columns: min-content 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.listingheadergrid.hascheckbox {
  -ms-grid-columns: -webkit-min-content -webkit-min-content 1fr;
  -ms-grid-columns: min-content min-content 1fr;
  grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
  grid-template-columns: min-content min-content 1fr;
}

.black15 {
  color: #9b9b9c;
}

.listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  padding: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.listing:hover {
  background-color: #f7f7f7;
}

.listing.ishover {
  background-color: #f7f7f7;
}

.listing.issmall {
  padding: 4px;
}

.actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.actions.issmall {
  width: 72px;
}

.actioncontainer {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.actioncontainer.isfirst {
  margin-left: 0px;
}
