.searchcontent{
    display: flex;
    gap: 2rem;
}
.searchcontainer{
    padding: 2px 26px;
}
.hide{
    display: none !important;
 }

 .tableSide{
     display: flex;
     justify-content: space-between;
     max-width: 955px;
     .switch{
     display: flex;
      p {
          font-size: large;
          margin-right: 5px;
          
      }
      p .active {
                font-weight: 900;
        }
    }
 }

 
 .tableSideMain {
     width: 100%;
 }